### Question 1: Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
    Examples:
    is_symmetrical(7227) ➞ True
    is_symmetrical(12567) ➞ False
    is_symmetrical(44444444) ➞ True
    is_symmetrical(9939) ➞ False
    is_symmetrical(1112111) ➞ True

In [11]:
def is_symmetrical(num):
    total = 0
    n = num
    while num > 0:
        digit = num % 10
        total = total * 10 + digit
        num = num // 10
    if n==total:
        return True
    else:
        return False

In [12]:
is_symmetrical(7227)

True

In [13]:
is_symmetrical(12567)

False

In [14]:
is_symmetrical(44444444)

True

In [15]:
is_symmetrical(9939)

False

In [16]:
is_symmetrical(1112111)

True

### Question 2: Given a string of numbers separated by a comma and space, return the product of the numbers.
    Examples:
    multiply_nums("2, 3") ➞ 6
    multiply_nums("1, 2, 3, 4") ➞ 24
    multiply_nums("54, 75, 453, 0") ➞ 0
    multiply_nums("10, -2") ➞ -20

In [38]:
def multiply_nums(nums):
    nums = nums.replace(' ', "")
    result = 1
    for i in nums.split(','):
        result *= int(i)
    return result

In [39]:
multiply_nums("2, 3")

6

In [40]:
multiply_nums("1, 2, 3, 4")

24

In [41]:
multiply_nums("54, 75, 453, 0")

0

In [42]:
multiply_nums("10, -2")

-20

### Question 3: Create a function that squares every digit of a number.
    Examples:
    square_digits(9119) ➞ 811181
    square_digits(2483) ➞ 416649
    square_digits(3212) ➞ 9414
    Notes:
    The function receives an integer and must return an integer.

In [53]:
def square_digits(n):
    result = []
    for i in str(n):
        result.append(str(int(i)**2))
    return int(''.join(result))

In [54]:
square_digits(9119)

811181

In [55]:
square_digits(2483)

416649

In [56]:
square_digits(3212)

9414

### Question 4: Create a function that sorts a list and removes all duplicate items from it.
    Examples:
    setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
    setify([4, 4, 4, 4]) ➞ [4]
    setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
    setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [59]:
def setify(list1):
    return list(set(list1))

In [58]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [60]:
setify([4, 4, 4, 4])

[4]

In [61]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [62]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

### Question 5: Create a function that returns the mean of all digits.
    Examples:
    mean(42) ➞ 3
    mean(12345) ➞ 3
    mean(666) ➞ 6
    Notes:
    1. The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
    512 is (5+1+2)/3(number of digits) = 8/3=2).
    2. The mean will always be an integer.

In [72]:
def mean(num):
    total = 0
    for i in str(num):
        total += int(i)
    return int(total / len(str(num)))

In [73]:
mean(42)

3

In [74]:
mean(12345)

3

In [75]:
mean(666)

6