## 1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [ ]:
SELECT SUBSTRING(FIRST_NAME, 1, 3) as First_Name FROM worker;

## 2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [ ]:
SELECT INSTR(FIRST_NAME, BINARY'a') from worker WHERE FIRST_NAME = "Amitabh";

## 3. Write an SQL query to print the name of employees having the highest salary in each department.

In [ ]:
SELECT * FROM worker WHERE salary in (SELECT MAX(salary) FROM worker GROUP BY deptno);