## 1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [ ]:
SELECT REPLACE(FIRST_NAME,"a","A") from worker;

## 2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [ ]:
SELECT FIRST_NAME from worker ORDER BY FIRST_NAME ASC, deptno DESC;

## 3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [ ]:
SELECT FIRST_NAME FROM worker WHERE salary in (SELECT MAX(salary) FROM worker);