### 1. Write four functions that directly mutate a list:
    1. repeat(lst, n): Repeat lst n times.
    2. add(lst, x): Adds x to the end of the lst.
    3. remove(lst, m, n): Removes all elements between indices m and n
    inclusive in lst.
    4. concat(lst, x): concatenates lst with x (another list).
#### Examples:
    lst = [1, 2, 3, 4]
    repeat(lst, 3) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
    add(lst, 1) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]
    remove(lst, 1, 12) ➞ [1]
    concat(lst, [3, 4]) ➞ [1, 3, 4]

In [8]:
def repeat(lst, a):
    return lst * b

def add(lst, a):
    lst.append(a)
    return lst

def remove(lst, a, b):
    del lst[a:b+1]
    return lst

def concat(lst1, lst2):
    return lst1 + lst2

Repeating list [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
adding at the end of list [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 8]
Removing some elements form list [1, 2, 3, 4, 8]
concating list [1, 2, 3, 4, 8, 6, 8]

In [10]:
lst = [1,2,3,4]
lst = repeat(lst,3)
print('repeat(lst, 3) ➞ ', lst)
lst = add(lst, 8)
print('add(lst, 8) ➞ ', lst)
lst = remove(lst, 1, 8)
print('remove(lst, 1, 8) ➞ ', lst)
lst = concat(lst, [6, 8])
print('concat(lst, [6, 8]) ➞ ', lst)

repeat(lst, 3) ➞  [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
add(lst, 8) ➞  [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 8]
remove(lst, 1, 8) ➞  [1, 2, 3, 4, 8]
concat(lst, [6, 8]) ➞  [1, 2, 3, 4, 8, 6, 8]

### 2. The classic game of Mastermind is played on a tray on which the Mastermind conceals a code and the Guesser has 10 tries to guess it. The code is a sequence of 4 (or 6, sometimes more) pegs of different colors. Each guess is a corresponding sequence of 4 (or more) pegs of different colors. A guess is 'correct' when the color of every peg in the guess exactly matches the corresponding peg in the Mastermind's code.
### After each guess by the Guesser, the Mastermind will give a score comprising black & white pegs, not arranged in any order:
- Black peg == guess peg matches the color of a code peg in the same position.
- White peg == guess peg matches the color of a code peg in another position.
### Create a function that takes two strings, code and guess as arguments, and returns the score in a dictionary.
- The code and guess are strings of numeric digits
- The color of the pegs are represented by numeric digits
- no 'peg' may be double-scored
#### Examples:
        guess_score('1423', '5678') ➞ {'black': 0, 'white': 0}
        guess_score('1423', '2222') ➞ {'black': 1, 'white': 0}
        guess_score('1423', '1234') ➞ {'black': 1, 'white': 3}
        guess_score('1423', '2211') ➞ {'black': 0, 'white': 2}

In [20]:
def guess_score(code, guess):
    result = {"black":0, "white":0}
    for i in range(len(code)): 
        if code[i] == guess[i]:
            result["black"] += 1
        elif code[i] in guess and i != guess.index(code[i]):
            result["white"] += 1
    return result

In [21]:
guess_score('1423', '5678')

{'black': 0, 'white': 0}

In [22]:
guess_score('1423', '2222')

{'black': 1, 'white': 0}

In [23]:
guess_score('1423', '1234')

{'black': 1, 'white': 3}

In [24]:
guess_score('1423', '2211')

{'black': 0, 'white': 2}

### 3. Create a function that takes a list lst and a number N and returns a list of two integers from lst whose product equals N.
#### Examples:
    two_product([1, 2, -1, 4, 5], 20) ➞ [4, 5]
    two_product([1, 2, 3, 4, 5], 10) ➞ [2, 5]
    two_product([100, 12, 4, 1, 2], 15) ➞ None

In [36]:
def two_product(lst1, num):
    result = 'None'
    for i in lst1:
        for j in lst1:
            if i*j == num:
                result = sorted([i, j])
                break
    return result

In [37]:
two_product([1, 2, -1, 4, 5], 20)

[4, 5]

In [38]:
two_product([1, 2, 3, 4, 5], 10)

[2, 5]

In [39]:
two_product([100, 12, 4, 1, 2], 15)

'None'

### 4. In this challenge, sort a list containing a series of dates given as strings.
### Each date is given in the format DD-MM-YYYY_HH:MM:
'12-02-2012_13:44'
### The priority of criteria used for sorting will be:
- Year
- Month
- Day
- Hours
- Minutes
### Given a list lst and a string mode, implement a function that returns:
- if mode is equal to 'ASC', the list lst sorted in ascending order.
- if mode is equal to 'DSC', the list lst sorted in descending order.
#### Examples:
    sort_dates(['10-02-2018_12:30', '10-02-2016_12:30', '10-02-2018_12:15'],
    'ASC') ➞ ['10-02-2016_12:30', '10-02-2018_12:15', '10-02-2018_12:30']
    sort_dates(['10-02-2018_12:30', '10-02-2016_12:30', '10-02-2018_12:15'],
    'DSC') ➞ ['10-02-2018_12:30', '10-02-2018_12:15', '10-02-2016_12:30']
    sort_dates(['09-02-2000_10:03', '10-02-2000_18:29', '01-01-1999_00:55'],
    'ASC') ➞ ['01-01-1999_00:55', '09-02-2000_10:03', '10-02-2000_18:29']

In [47]:
import datetime

def sort_dates(date, sort):
    if sort == "ASC":
        print("Ascending order: ")
        return sorted(date, key=lambda x: datetime.datetime.strptime(x, "%d-%m-%Y_%H:%M"), reverse = False)
    elif sort == "DSC":
        print("Descending order: ")
        return sorted(date, key=lambda x: datetime.datetime.strptime(x, "%d-%m-%Y_%H:%M"), reverse = True)
    else:
        print("Provide right sorting order")

In [48]:
sort_dates(['10-02-2018_12:30', '10-02-2016_12:30', '10-02-2018_12:15'], 'ASC')

Ascending order:

['10-02-2016_12:30', '10-02-2018_12:15', '10-02-2018_12:30']

In [49]:
sort_dates(['10-02-2018_12:30', '10-02-2016_12:30', '10-02-2018_12:15'], 'DSC')

Descending order:

['10-02-2018_12:30', '10-02-2018_12:15', '10-02-2016_12:30']

In [50]:
sort_dates(['09-02-2000_10:03', '10-02-2000_18:29', '01-01-1999_00:55'], 'ASC')

Ascending order:

['01-01-1999_00:55', '09-02-2000_10:03', '10-02-2000_18:29']

### 5. Write a function that selects all words that have all the same vowels (in any order and/or number) as the first word, including the first word.
#### Examples:
    same_vowel_group(['toe', 'ocelot', 'maniac']) ➞ ['toe', 'ocelot']
    same_vowel_group(['many', 'carriage', 'emit', 'apricot', 'animal']) ➞ ['many']
    same_vowel_group(['hoops', 'chuff', 'bot', 'bottom']) ➞ ['hoops', 'bot', 'bottom']

In [62]:
def find_vowel(word):
    vowel_string = ''    
    vowels = ['a','e','i','o','u']
    for i in range(len(word)):        
        if word[i] in vowels:
            vowel_string = vowel_string + word[i]
    return ''.join(set(vowel_string))

In [63]:
def same_vowel_group(lst):
    result = []
    temp = find_vowel(lst[0])   
    result.append(lst[0])
    for i in range(1,len(lst)):
        vowel_word = find_vowel(lst[i])
        if temp == vowel_word:
            result.append(lst[i])
    return result

In [64]:
same_vowel_group(['toe', 'ocelot', 'maniac'])

['toe', 'ocelot']

In [65]:
same_vowel_group(['many', 'carriage', 'emit', 'apricot', 'animal'])

['many']

In [66]:
same_vowel_group(['hoops', 'chuff', 'bot', 'bottom'])

['hoops', 'bot', 'bottom']

### 6. Create a function that takes a list of more than three numbers and returns the Least Common Multiple (LCM).
#### Examples:
    lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) ➞ 2520
    lcm_of_list([13, 6, 17, 18, 19, 20, 37]) ➞ 27965340
    lcm_of_list([44, 64, 12, 17, 65]) ➞ 2333760

In [73]:
import math

def lcm_of_list(lst):
    result = lst[0]
    for i in range(1, len(lst)):
        result = (result*lst[i]) // math.gcd(result,lst[i])
    return result

In [74]:
lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

2520

In [75]:
lcm_of_list([13, 6, 17, 18, 19, 20, 37])

27965340

In [76]:
lcm_of_list([44, 64, 12, 17, 65])

2333760