## 1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [ ]:
SELECT RTRIM(FIRST_NAME) from worker;

## 2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [ ]:
SELECT DISTINCT LENGTH(deptno) FROM worker;

## 3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:
SELECT TOP 1 salary FROM (SELECT DISTINCT TOP n salary FROM worker ORDER BY salary DESC) ORDER BY salary ASC;