## 19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT salary FROM worker t1 WHERE n-1 = (SELECT COUNT(DISTINCT(t2.salary)) FROM worker t2 WHERE t2.salary >= t1.salary);

## 20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
SELECT DISTINCT t1.ID, t1.FIRST_NAME, t1.salary FROM worker t1, worker t2 WHERE t1.salary = t2.salary AND t1.ID != t2.ID;